.navbar{
    height: 10vh;
    background: rgba(34, 19, 51, 0.858);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo{
    color: rgb(189,58,39);
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:15rem;
}
.nav-item{
    display: flex;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content:space-around;
    margin-right: 2rem;
    z-index: 5;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 10vh;
}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: rem;
    padding: 20px;
}
.nav-item a:hover{
    color:rgb(189,58,39);
}